# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Environments
tw_env/
.env
.venv/
venv/
ENV/

# Data & Models
data/
# models/
# *.h5
# *.pt
# *.npy
# *.pkl
# *.ckpt

# Logs
*.log
logs/
wandb/

# Caches
.cache/
.mypy_cache/
.pytest_cache/
jupyter-notebooks/Demux-MEmo/
jupyter-notebooks/semeval.zip

# OS files
.DS_Store

# Model outputs / checkpoints
model_outputs/
**/checkpoint-*/
**/*.ckpt
**/*.pt
**/*.bin
**/*.safetensors

# --- Allow sharing inference outputs (small files) ---
!model_outputs/
!model_outputs/**/
!model_outputs/**/predictions_*.csv
!model_outputs/**/meta.json
!model_outputs/**/metrics*.csv
!model_outputs/**/metrics*.json
